[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
ipython = "*"
"flake8" = "*"
ipdb = "*"
twine = "*"
nose = "*"
mock = "*"
pyhamcrest = "*"

[requires]
python_version = "2.7"
