[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e1839a8 = {path = ".",editable = true}

[dev-packages]
flake8 = "*"
twine = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
coverage = "==6.5.0"
pytest-mock = "*"
sphinx = "*"
responses = "*"
wrapt = "==1.13.2"
yarl = "==1.7.0"
six = "==1.15.0"
pyyaml = "==5.4.1"
mock = "*"
vcrpy = "*"
# Remove these two when all old tests have been migrated to pytest
pyhamcrest = "*"

[scripts]
# run all tests in tests/ folder. might be extended to integration tests as well.
run-tests = "sh /home/algobot/run-tests.sh"